{% extends "pages/base.html" %}
{% load staticfiles %}
{% block title %} Dangky {% endblock %}
{% block  content %}
<!-- Page Content -->
<div class="container">
	<!-- slider -->
	<div class="row carousel-holder">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<div class="panel panel-default">
					
					{% if success == 1 %}
					<label style="color:green">Đăng ký thành công</label>
					{% endif %}
						
				  <div class="panel-heading">Đăng ký tài khoản</div>
				  <div class="panel-body">
					<form action="." name="myForm" method="POST">
						{%csrf_token%}
						<div>
							<label>Họ tên</label>
							  <input type="text" class="form-control" placeholder="Username" name="name" aria-describedby="basic-addon1">
							  <span style="color:red" id="validateName"></span>
						</div>
						<br>
						<div>
							<label>Email</label>
							  <input type="email" class="form-control" placeholder="Email" name="email" aria-describedby="basic-addon1">
								<span style="color:red" id="validateEmail"></span>
								
								{% if error != 'None' %}
									
									<span style="color:red" id="">{{error}}</span>
								{% endif %}
									
						</div>
						<br>	
						<div>
							<label>Nhập mật khẩu</label>
							  <input type="password" class="form-control" name="password" aria-describedby="basic-addon1">
						</div>
						<br>
						<div>
							<label>Nhập lại mật khẩu</label>
							  <input type="password" class="form-control" name="passwordAgain" aria-describedby="basic-addon1">
							  <span style="color:red" id="validatePassword"></span>
						</div>
						<br>
						<button type="button" onclick="validateForm()" class="btn btn-success">Đăng ký
						</button>

					</form>
				 <!-- end slide -->
				</div>
				<!-- Begin script using in this page -->
				<script type="text/javascript">
					function validateForm() {
							var name = document.forms["myForm"]["name"].value;
							if (name == "") {
									document.getElementById("validateName").innerHTML = "Tên không được để trống";
									return;
							}
	
							var email = document.forms["myForm"]["email"].value;
							var email_regex = /^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/;
							if (!email_regex.test(email)) {
									document.getElementById("validateEmail").innerHTML = "Email không đúng định dạng";
									return;
							}
	
	
							var password = document.forms["myForm"]["password"].value;
							var passwordAgain = document.forms["myForm"]["passwordAgain"].value;
							if (password != passwordAgain || password=="" || passwordAgain==""){
									document.getElementById("validatePassword").innerHTML = "Nhập lại mật khẩu ko đúng, vui lòng nhập lại!";
									document.forms["myForm"]["password"].value = "";
									document.forms["myForm"]["passwordAgain"].value = "";
									return passwordAgain
							}
							var x = document.getElementsByName("myForm");
							x[0].submit();
	
					}
			</script>
			<!-- end script using -->
      <!-- end Page Content -->
{% endblock  %}  