{% extends "pages/base.html" %}
{% load staticfiles %}
{% block title %} GioiThieu {% endblock %}
{% block  content %}
    <!-- Page Content -->
    <div class="container">
            <script>
            function change(){
                var checkBox = document.getElementById("checkBox");
                if(checkBox.checked == true){
                    var password = document.forms["formInfo"]["password"].value;
                    var passwordAgain = document.forms["formInfo"]["passwordAgain"].value;
                    if(password != passwordAgain || password == "" || passwordAgain == ""){
                        alert("Nhập lại mật khẩu ko đúng, vui lòng nhập lại!");
						document.forms["formInfo"]["password"].value = "";
						document.forms["formInfo"]["passwordAgain"].value = "";
                        return;
                    }
                }
                var thisForm = document.forms["formInfo"];
                thisForm.submit();
            }
            
            </script>
            
            {% if notif == 1 %}
                <script>
                alert("Cập nhật thành công");
                </script>
            {% elif notif == 0 %}
                <script>
                    alert("Cập nhật thất bại");
                </script>
            {% else %}

            {% endif %}
            <!-- slider -->
            <div class="row carousel-holder">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="panel panel-default">
                          <div class="panel-heading">Thông tin tài khoản</div>
                          <div class="panel-body">
                            <form name="formInfo" method="POST" id="formID">
                                {% csrf_token %}
                                <div>
                                    <label>Họ tên</label>
                                      <input type="text" class="form-control" placeholder="Họ và tên" name="name" aria-describedby="basic-addon1">
                                </div>
                                <br>
                                <div>
                                    <label>Email</label>
                                      <input type="email" class="form-control" placeholder="{{request.session.email}}" name="email" aria-describedby="basic-addon1"
                                      disabled
                                      >
                                </div>
                                <br>
                                
                                <input type="checkbox" class="" name="checkpassword" id="checkBox" onclick="myFunction()">
                                <script>
                                    function myFunction() {
                                      var checkBox = document.getElementById("checkBox");
                                      var text = document.getElementById("pwwwd");
                                      if (checkBox.checked == true){
                                        text.style.display = "block";
                                      } else {
                                         text.style.display = "none";
                                      }
                                    }
                                    </script>
                                <label>Đổi mật khẩu</label>
                                <div id="pwwwd" style="display:none">
                                    <div>
                                        <input type="password" class="form-control" name="password" aria-describedby="basic-addon1">
                                    </div>
                                    <br>
                                    <div>
                                        <label>Nhập lại mật khẩu</label>
                                        <input type="password" class="form-control" name="passwordAgain" aria-describedby="basic-addon1">
                                    </div>
                                </div>	
                                <br>
                                <button type="button" class="btn btn-default" onclick="change()">Sửa
                                </button>
    
                            </form>
                          </div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <!-- end slide -->
        </div>
        <!-- end Page Content -->
{% endblock  %}